table {

    margin: auto;
    width: 800px;
    height: 200px;
    border: 25px solid blue;
    border-collapse: collapse;
    color: rgb(124, 117, 117);
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}


tbody, thead {
    border: 3px solid rgb(165, 160, 160);
    border-radius: 9px;
}
tr, td, th {
    border: 3px solid rgb(165, 160, 160);
    padding: 15px;
    font-weight: lighter;

}

tbody tr:nth-child(odd) {
    background-color: rgb(226, 219, 219);
}

th {
    text-align: left;
    background-color: black;
    color: rgb(202, 199, 199);
    height: 50px;
}

tr.throw {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}